.event-deadlines {
  flex: 1;
  min-width: 0;
}

.timeline-container {
  background-color: #f6f8fb; 
}

.timeline-container::before {
  display: none;
}

.timeline-container.no-timeline-line::before {
  display: none;
}

@media (max-width: 576px) {
  .timeline-container::before {
    left: 70px;
  }

  .timeline-container {
    padding-left: 0.3rem !important; 
    padding-right: 0.3rem !important; 
  }

}



