.event-deadlines {
  flex: 1;
  min-width: 0;
}

.timeline-container {
  background-color: #f6f8fb; 
}

.timeline-container::before {
  content: '';
  position: absolute;
  left: 90px;
  top: 1.5rem;
  bottom: 5rem;
  width: 1px;
  background-color: #777777;
  z-index: 0;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  filter: blur(0.5px);
}

.timeline-container.no-timeline-line::before {
  display: none;
}

@media (max-width: 576px) {
  .timeline-container::before {
    left: 70px;
  }

  .timeline-container {
    padding-left: 0.3rem !important; 
    padding-right: 0.3rem !important; 
  }

}



